In [2]:
# import libraries
import os
import csv
import pandas as pd

In [3]:
# read in files
student_df = pd.read_csv("Resources/Student Mental health.csv")
academic_performance_df = pd.read_csv("Resources/Effects on Academic Performance.csv")

In [4]:
# CLEANING DATA

In [5]:
# show column names
student_columns = student_df.columns
student_columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [6]:
student_df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/20 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/20 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/20 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/20 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/20 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [7]:
# rename columns
student_df.columns = ['Timestamp', 'Gender', 'Age', 'Course',
       'Year', 'GPA', 'Marital_status',
       'Depression', 'Anxiety',
       'Panic_attack',
       'Specialist_visit']

In [8]:
# delete timestamp column
del student_df['Timestamp']

In [9]:
student_df.head()

,Gender,Age,Course,Year,GPA,Marital_status,Depression,Anxiety,Panic_attack,Specialist_visit
0,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [10]:
# count how many total students
total_students = len(student_df["Gender"])
total_students

101

In [11]:
# make sure every column has same count
student_df.count()

Gender              101
Age                 100
Course              101
Year                101
GPA                 101
Marital_status      101
Depression          101
Anxiety             101
Panic_attack        101
Specialist_visit    101
dtype: int64

In [12]:
# see data types
student_df.dtypes

Gender               object
Age                 float64
Course               object
Year                 object
GPA                  object
Marital_status       object
Depression           object
Anxiety              object
Panic_attack         object
Specialist_visit     object
dtype: object

In [13]:
# count male vs female
student_df["Gender"].value_counts()

Female    75
Male      26
Name: Gender, dtype: int64

In [14]:
# show different courses
student_df["Course"].value_counts()

BCS                        18
Engineering                17
BIT                        10
Biomedical science          4
KOE                         4
BENL                        2
Laws                        2
psychology                  2
Engine                      2
Islamic Education           1
Biotechnology               1
engin                       1
Econs                       1
MHSC                        1
Malcom                      1
Kop                         1
Human Sciences              1
Communication               1
Nursing                     1
Diploma Nursing             1
IT                          1
Pendidikan Islam            1
Radiography                 1
Fiqh fatwa                  1
DIPLOMA TESL                1
Koe                         1
Fiqh                        1
CTS                         1
koe                         1
Benl                        1
Kirkhs                      1
Mathemathics                1
Pendidikan islam            1
Human Resources             1
Irkhs                       1
Psychology                  1
KENMS                       1
Accounting                  1
ENM                         1
Marine science              1
Banking Studies             1
Business Administration     1
Law                         1
KIRKHS                      1
Usuluddin                   1
TAASL                       1
ALA                         1
Islamic education           1
Pendidikan Islam            1
Name: Course, dtype: int64

In [15]:
# Clean up Course column
student_df['Course'] = student_df['Course'].replace({'Koe': 'KOE','koe': 'KOE'})
student_df['Course'] = student_df['Course'].replace({'benl': 'BENL', 'Benl': 'BENL'})
student_df['Course'] = student_df['Course'].replace({'engin': 'Engineering','Engine': 'Engineering'})
student_df['Course'] = student_df['Course'].replace({'KIRKHS': 'Kirkhs'})
student_df['Course'] = student_df['Course'].replace({'Islamic education': 'Islamic Education'})
student_df['Course'] = student_df['Course'].replace({'Laws': 'Law'})
student_df['Course'] = student_df['Course'].replace({'Pendidikan islam': 'Pendidikan Islam', 'Pendidikan Islam ': 'Pendidikan Islam'})
student_df['Course'] = student_df['Course'].replace({'Diploma Nursing': 'Nursing', 'Nursing ': 'Nursing'})
student_df['Course'] = student_df['Course'].replace({'Fiqh' : 'Fiqh Fatwa ', 'Fiqh Fatwa': 'Fiqh Fatwa'})
student_df['Course'] = student_df['Course'].replace({'Econs' : 'Econ'})
student_df['Course'] = student_df['Course'].replace({'Irkhs' : 'Kirkhs'})
student_df['Course'] = student_df['Course'].replace({'ENM' : 'KENMS'})
student_df['Course'] = student_df['Course'].replace({'psychology' : 'Psychology'})

In [16]:
student_df["Course"].value_counts()

Engineering                20
BCS                        18
BIT                        10
KOE                         6
Biomedical science          4
Law                         3
Pendidikan Islam            3
BENL                        3
Kirkhs                      3
Psychology                  3
KENMS                       2
Nursing                     2
Islamic Education           2
Human Sciences              1
Malcom                      1
Kop                         1
Radiography                 1
Biotechnology               1
Communication               1
Econ                        1
Fiqh fatwa                  1
DIPLOMA TESL                1
MHSC                        1
TAASL                       1
CTS                         1
IT                          1
ALA                         1
Usuluddin                   1
Business Administration     1
Banking Studies             1
Marine science              1
Accounting                  1
Human Resources             1
Mathemathics                1
Fiqh Fatwa                  1
Name: Course, dtype: int64

In [17]:
# clean up Year column
student_df["Year"].value_counts()

year 1    41
Year 3    19
Year 2    16
year 2    10
year 4     8
year 3     5
Year 1     2
Name: Year, dtype: int64

In [18]:
student_df['Year'] = student_df['Year'].replace({'year 1': 'Year 1'})
student_df['Year'] = student_df['Year'].replace({'year 2': 'Year 2'})
student_df['Year'] = student_df['Year'].replace({'year 3': 'Year 3'})

In [19]:
student_df["Year"].value_counts()

Year 1    43
Year 2    26
Year 3    24
year 4     8
Name: Year, dtype: int64

In [20]:
# clean up GPA column
student_df["GPA"].value_counts()

3.50 - 4.00     47
3.00 - 3.49     43
2.50 - 2.99      4
0 - 1.99         4
2.00 - 2.49      2
3.50 - 4.00      1
Name: GPA, dtype: int64

In [21]:
student_df['GPA'] = student_df['GPA'].replace({'3.50 - 4.00 ': '3.50 - 4.00'})

In [22]:
student_df["GPA"].value_counts()

3.50 - 4.00    48
3.00 - 3.49    43
2.50 - 2.99     4
0 - 1.99        4
2.00 - 2.49     2
Name: GPA, dtype: int64

In [23]:
##### OTHER SPREADSHEET

In [24]:
academic_performance_df.head()

,Gender:,Age:,Educational Level,Little interest or pleasure in doing things,"Feeling down, depressed, or hopeless","Trouble falling or staying asleep, or sleeping too much",Feeling tired or having little energy,Poor appetite or overeating,Feeling bad about yourself or that you are a failure or not have let yourself or your family down,"Trouble concentrating on things, such as reading the newspaper or watching television",Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual,Thoughts that you would be better off dead or of hurting yourself in some way,Do you have part-time or full-time job?,Which of the following best describes your term-time accommodation?,How many hours do you spend studying each day?,"How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?",How many hours do you spend on social media per day?,Your Last Semester GPA:
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2.30
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2.70
2,Female,18 years or less,High School,2,2,2,2,1,1,2,2,1,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2.97
3,Female,18 years or less,High School,3,1,2,3,3,1,1,1,2,No,Home (with parents),1 - 2 hours,More than 6,2 - 4 Hours,2.74
4,Male,18 years or less,High School,1,2,2,3,1,1,3,1,1,Part time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3.37

In [25]:
# CLEANING DATA

In [26]:
# rename columns
rename_academic_df = academic_performance_df.rename(columns = {'Gender:':'gender', 'Age:':'age',
                                     'Educational Level':'educational_level',
                                     'Little interest or pleasure in doing things ':'interest_level',
                                     'Feeling down, depressed, or hopeless':'depressed_level',
                                     'Trouble falling or staying asleep, or sleeping too much':'sleepy_level',
                                     'Feeling tired or having little energy':'energy_level',
                                     'Poor appetite or overeating':'appetite_level',
                                     'Feeling bad about yourself or that you are a failure or not have let yourself or your family down':'self_worth_level',
                                     'Trouble concentrating on things, such as reading the newspaper or watching television':'concentrating_level',
                                     'Moving or speaking so slowly that other people could have noticed Or being so restless that you have been moving around a lot more than usual':'restless_level',
                                     'Thoughts that you would be better off dead or of hurting yourself in some way':'suicidal_level',
                                     'Do you have part-time or full-time job? ':'employment',
                                     'Which of the following best describes your term-time accommodation?':'housing_situation',
                                     'How many hours do you spend studying each day?':'studing_spending',
                                     'How many of the electronic gadgets (e.g. mobile phone, computer, laptop, PSP, PS4, Wii, etc.) do you have in your home or your student accommodation/mess/hall?':'electronic_devices',
                                     'How many hours do you spend on social media per day?':'social_media_time',
                                     'Your Last Semester GPA: ':'GPA'})

In [27]:
# look at count to ensure each column has same number of rows 
rename_academic_df.count()

gender                 352
age                    352
educational_level      352
interest_level         352
depressed_level        352
sleepy_level           352
energy_level           352
appetite_level         352
self_worth_level       352
concentrating_level    352
restless_level         352
suicidal_level         352
employment             352
housing_situation      352
studing_spending       352
electronic_devices     352
social_media_time      352
GPA                    352
dtype: int64

In [28]:
# filter to show only "College - Bachelor's"
rename_academic_df['educational_level'].value_counts()

College - Bachelor's    204
High School             124
Master                   24
Name: educational_level, dtype: int64

In [29]:
bachelors_df = rename_academic_df.loc[rename_academic_df['educational_level'] == "College - Bachelor's"]
bachelors_df.head()

,gender,age,educational_level,interest_level,depressed_level,sleepy_level,energy_level,appetite_level,self_worth_level,concentrating_level,restless_level,suicidal_level,employment,housing_situation,studing_spending,electronic_devices,social_media_time,GPA
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2.30
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2.70
6,Female,19 to 24 years,College - Bachelor's,2,2,3,3,1,1,2,2,1,Part time,Home (with parents),1 - 2 hours,4 - 6,2 - 4 Hours,2.75
8,Female,19 to 24 years,College - Bachelor's,3,1,4,3,1,2,1,1,1,Full time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3.97
10,Female,19 to 24 years,College - Bachelor's,2,4,4,3,2,3,4,1,3,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2.97

In [30]:
# reset index 
bachelors_df = bachelors_df.reset_index(drop = True)

In [31]:
bachelors_df

,gender,age,educational_level,interest_level,depressed_level,sleepy_level,energy_level,appetite_level,self_worth_level,concentrating_level,restless_level,suicidal_level,employment,housing_situation,studing_spending,electronic_devices,social_media_time,GPA
0,Male,19 to 24 years,College - Bachelor's,3,2,4,4,3,3,4,3,2,Part time,Home (with parents),2 - 4 hours,4 - 6,More than 4 Hours,2.30
1,Male,19 to 24 years,College - Bachelor's,2,1,2,1,1,1,1,1,1,Part time,University hall of residence,1 - 2 hours,1 - 3,1 - 2 Hours,2.70
2,Female,19 to 24 years,College - Bachelor's,2,2,3,3,1,1,2,2,1,Part time,Home (with parents),1 - 2 hours,4 - 6,2 - 4 Hours,2.75
3,Female,19 to 24 years,College - Bachelor's,3,1,4,3,1,2,1,1,1,Full time,Home (with parents),1 - 2 hours,4 - 6,More than 4 Hours,3.97
4,Female,19 to 24 years,College - Bachelor's,2,4,4,3,2,3,4,1,3,No,Home (with parents),1 - 2 hours,1 - 3,More than 4 Hours,2.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Female,25 years and above,College - Bachelor's,4,3,4,4,4,4,4,3,2,Full Time,Private rented accommodation,2 - 4 hours,4 - 6,2 - 4 Hours,1.30
200,Female,19 to 24 years,College - Bachelor's,4,4,2,4,3,4,4,3,2,No,Home (with parents),2 - 4 hours,1 - 3,2 - 4 Hours,4.00
201,Female,25 years and above,College - Bachelor's,4,4,2,2,2,2,2,2,3,Full Time,Home (with parents),More than 4 hours,1 - 3,More than 4 Hours,4.00
202,Female,19 to 24 years,College - Bachelor's,3,3,3,3,3,3,3,3,2,Full Time,Private rented accommodation,2 - 4 hours,4 - 6,2 - 4 Hours,3.35
203,Female,25 years and above,College - Bachelor's,3,4,4,3,4,4,2,2,3,Full Time,Home (with parents),2 - 4 hours,1 - 3,2 - 4 Hours,3.35